<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <h2>Forgot your password?</h2>

  <div>
    <%= f.email_field :email, autofocus: true, class:"form-control", placeholder:"email" %>
  </div>

  <div class="d-flex justify-content">
    <%= f.submit "Send me reset password instructions", class:"btn btn-info submit mt-3" %>
  </div>
<% end %>

