<div class="welcome_header">
  <h1>Site::Welcome#index</h1>
  <p>Find me in app/views/site/welcome/index.html.erb</p>
</div>

<div class="states">
  <% if user_signed_in? %>
    <p>Usuário: <span class="logado">LOGADO</span> como <em><%= current_user.email %></em></p>
  <% else %>
    <p>Usuário: <span class="nao_logado">NÃO LOGADO</span></p>
  <% end %>
  
  <% if admin_signed_in? %>
    <p>Administrador: <span class="logado">LOGADO</span> como <em><%= current_admin.email %></em></p>
  <% else %>
    <p>Administrador: <span class="nao_logado">NÃO LOGADO</span></p>
  <% end %>
</div>
