<div class="bg-secondary text-white px-3 pt-3 pb-1 rounded-top">
  <h1>Site Welcome</h1>
  <p class="text-warning">Estou em app/views/site/welcome/index.html.erb</p>
  <p class="bg-white text-body rounded">últimas perguntas cadastradas</p>
</div>

<div class="bg-light container-fluid pt-4 pb-2 rounded-bottom">
  <div class="text-left">
    <% if admin_signed_in? %>
      <p>Admin: <span class="text-success">LOGADO</span> como <em class="text-success"><%= current_admin.email %></em></p>
    <% else %>
      <p>Admin: <span class="text-danger">NÃO LOGADO</span></p>
    <% end %>
  </div>
</div>

<%= render partial: 'site/questions' %>
