<div>
  <% for question in @questions %>
    <%= check_box_tag "test[question_ids][]", question.id, @test.questions.include?(question) %>
    <%= sanitize question.description %> <br>
  <% end %>
</div>