<div>
  <% @questions.each do |question| %>
    <!-- aqui é colocado em question_ids os ids das questões selecionadas na checkbox, inspecionar checkbox no html -->
    <%= check_box_tag "test[question_ids][]", question.id, @test.questions.include?(question) %>
    <%= sanitize question.description %> <br>
  <% end %>
</div>