<h2 class="mt-3">Editing Mining Type</h2>
<hr>

<%= render 'form', mining_type: @mining_type %>

<%= link_to 'Show', @mining_type, class:"btn btn-info mt-2 me-1" %>
<%= link_to 'Back', mining_types_path, class:"btn btn-warning mt-2" %>
