<h1>Seja Bem-vindo!</h1>

<div class="top_tiles">
  <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 ">
    <div class="tile-stats">
      <div class="icon"><i class="fa fa-question-circle-o" aria-hidden="true"></i>
      </div>
      <div class="count"><%= @user_statistic.total_questions %></div>
      <h3>Questões</h3>
      <p>Total respondidas.</p>
    </div>
  </div>
  <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 ">
    <div class="tile-stats">
      <div class="icon"><i class="fa fa-check-square-o"></i></div>
      <div class="count"><%= @user_statistic.right_questions %></div>
      <h3>Corretas</h3>
      <p>Respondidas corretamente.</p>
    </div>
  </div>
  <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 ">
    <div class="tile-stats">
      <div class="icon"><i class="fa fa-times-circle-o" aria-hidden="true"></i></div>
      <div class="count"><%= @user_statistic.wrong_questions %></div>
      <h3>Erradas</h3>
      <p>Respondidas erradamente.</p>
    </div>
  </div>
</div>

<%= link_to "site_welcome", site_welcome_index_path, class:"btn btn-warning" %>
